[submodule "EdgeControlPlatform"]
	path = EdgeControlPlatform
	url = git@github.com:JJJJJJJiYun/EdgeControlPlatform.git
[submodule "arm"]
	path = arm
	url = https://github.com/AndysonYs/arm.git
[submodule "src\\arm"]
	path = src\\arm
	url = https://github.com/AndysonYs/arm.git
[submodule "src\\EdgeControlPlatform"]
	path = src\\EdgeControlPlatform
	url = https://github.com/JJJJJJJiYun/EdgeControlPlatform.git
